global:
  scrape_interval: 1s

scrape_configs:
  - job_name: 'influxdb'
    static_configs:
      - targets: ['influxdb:8086']
  - job_name: 'neo4j'
    static_configs:
      - targets: ['neo4j:7474']
  - job_name: 'devcontainer-process-exporter'
    static_configs:
      - targets: ['devcontainer:9256']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
